{% extends 'layout.html' %}

{% block content %}
<h1>Formulario para subir articulo</h1>

<form action="{% url 'save_article' %}" method="POST">

    {% csrf_token %}

    <label for="title">Titulo</label>
    <input type="text" name="title", placeholder="Introduce Titulo"/>

    <label for="content">Contenido</label>
    <textarea name="content", placeholder="Introduce Contenido"></textarea>

    <label for="public">Publicado</label>
    <select name = "public">
        <option value="1">Si</option>
        <option value="0">No</option>
    </select>

    <input type="submit" value="Guardar">
</form>

{% endblock %}